<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
  <link href="css/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:ital,wght@1,700&display=swap"
    rel="stylesheet">
</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-light  ">

    <a class="navbar-brand" style="color:aliceblue" href="/">
      <img src="/icons/navwhite.png" />makeresume
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
          <li class="nav-item active"></li>
          <a class="nav-link text-white" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="/register">Register</a>
          </li>
          <% } else { %>
            <li class="nav-item active">

              <a class="nav-link text-white" href="">Signed in as <%=currentUser.username%> <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <% } %>

      </ul>
    </div>
  </nav>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2 class="mt-4">Let’s get started!</h2>
        <br>
        <h4>Select a Template</h4>
        <p>First, pick one of our approved templates to personalize and format your resume.</p>
        <h4>Enter Your Information</h4>
        <p>Populate the selected template with your personal, professional and educational information.</p>
        <h4>Download and Print</h4>
        <p>Presto! Your resume is ready to share!

        </p>
        <form method="POST" action="/">
          <button type="submit" class="btn btn-light btn-lg  btn-block  ">Submit</button>
        </form>
      </div>
      <div class="col-lg">
        <img class="image" src="images\homepic.jpg">

      </div>
    </div>
  </div>

  <footer class="not-colored" id="footer">
    <img class="icon" src="/icons/twitterwhite.png">
    <img class="icon" src="/icons/facebookwhite.png">
    <img class="icon" src="/icons/instagramwhite.png">
    <img class="icon" src="/icons/mailwhite.png">
    <p>© Copyright Abhishek Dhar</p>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>