<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="public/icons/favicon.ico" />
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/reset/<%=found.resetPasswordToken%>">
<input name="password">
<input name="confirm">
<button>Submit</button>
    </form>
    
</body>
</html>