<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/icons/favicon.ico" />
  <title>Makeresume</title>
  <link href="css/resume3.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="resume">
    <div class="column">
      <section class="profile">
        <h1>
          <%=found[0].firstname%>
        </h1>
        <p><em>Software Engineer</em></p>
        <img src="https://i.imgur.com/q7fx3vwb.jpg" alt="">
      </section>

      <section class="contact">
        <h2>Contact</h2>
        <ul>
          <li>123 Street City</li>
          <li><a href="mailto:abhi@edyst.com">abhi@edyst.com</a></li>
          <li><a href="https://edyst.com">https://edyst.com</a></li>
          <li><a href="tel:+917207187772">(+91) 7207187772</a></li>
        </ul>
      </section>

      <section class="objectives">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus culpa illo tenetur inventore omnis.
          Inventore id nobis facilis nam nulla cupiditate dolor! Quam quos nemo vel delectus iste minus!
        </p>
      </section>

      <section class="socials">
        <ul>
          <li>@edystme</li>
          <li>@edyst</li>
          <li>@abhi</li>
        </ul>
      </section>

      <section class="skills">
        <h2>Capabilities/Skills</h2>
        <ul>
          <li>
            <h3>Professional</h3>
            <ul>
              <li>Lorem.</li>
              <li>A?</li>
              <li>Possimus.</li>
              <li>Quaerat?</li>
              <li>Enim.</li>
              <li>Illo!</li>
              <li>Optio.</li>
              <li>Tenetur!</li>
            </ul>
          </li>
          <li>
            <h3>Personal</h3>
            <ul>
              <li>Lorem.</li>
              <li>Nesciunt?</li>
              <li>Nulla.</li>
              <li>Eligendi.</li>
              <li>Nesciunt.</li>
              <li>Excepturi!</li>
              <li>Dolore?</li>
              <li>Quod.</li>
            </ul>
          </li>
        </ul>
      </section>
    </div>

    <div class="column">
      <section class="education">
        <h2>Education</h2>
        <ul class="timeline">
          <li class="event">
            <span class="duration">2018 - 2020</span>
            <div class="content">
              <h3>Enter your Degree/Major</h3>
              <p><em>IIIT Hyderabad</em></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum est nisi porro eaque aspernatur maxime
                illum dignissimos reprehenderit. Exercitationem, natus.</p>
              <p>CGPA: 8.5</p>
            </div>
          </li>
          <li class="event">
            <span class="duration">2011 - 2015</span>
            <div class="content">
              <h3>Enter your Degree/Major</h3>
              <p><em>IIIT Hyderabad</em></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum est nisi porro eaque aspernatur maxime
                illum dignissimos reprehenderit. Exercitationem, natus.</p>
              <p>CGPA: 8.5</p>
            </div>
          </li>
        </ul>
      </section>

      <section class="experience">
        <h2>Experience</h2>
        <ul class="timeline">
          <li class="event">
            <span class="duration">2017 - 2020</span>
            <div class="content">
              <h3>Software Engineer</h3>
              <p>Edyst, Hyderabad</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, optio tempora provident cum ipsum eos
                eaque excepturi, distinctio corrupti perspiciatis ea iste quisquam a doloremque quaerat est ducimus?
                Possimus necessitatibus, nihil provident asperiores sint distinctio? Aspernatur tempore illo enim
                possimus.
              </p>
            </div>
          </li>
          <li class="event">
            <span class="duration">2017 - 2020</span>
            <div class="content">
              <h3>Software Engineer</h3>
              <p>Edyst, Hyderabad</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, optio tempora provident cum ipsum eos
                eaque excepturi, distinctio corrupti perspiciatis ea iste quisquam a doloremque quaerat est ducimus?
                Possimus necessitatibus, nihil provident asperiores sint distinctio? Aspernatur tempore illo enim
                possimus.
              </p>
            </div>
          </li>
          <li class="event">
            <span class="duration">2017 - 2020</span>
            <div class="content">
              <h3>Software Engineer</h3>
              <p>Edyst, Hyderabad</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, optio tempora provident cum ipsum eos
                eaque excepturi, distinctio corrupti perspiciatis ea iste quisquam a doloremque quaerat est ducimus?
                Possimus necessitatibus, nihil provident asperiores sint distinctio? Aspernatur tempore illo enim
                possimus.
              </p>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>



</body>

</html>