<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Your Work Details</h1>
    <form method="POST" action="work">
        <div>
            <label for="companyname">Company name</label>
            <input type="text" placeholder="Company name" id="companyname" name="companyname">
        </div>
        <div>
            <label for="jobtitle">jobtitle</label>
            <input type="text" placeholder="jobtitle" id="jobtitle" name="jobtitle">
        </div>
        <div>
            <label for="state">state</label>
            <input type="text" placeholder="state" id="state" name="state">
        </div>
        <div>
            <label for="city">city</label>
            <input type="text" placeholder="city" id="city" name="city">
        </div>
        <div>
            <label for="startdate">Start Date</label>
            <input type="date" placeholder="startdate" id="startdate" name="startdate">
        </div>
        <div>
            <label for="enddate">End Date</label>
            <input type="date" placeholder="enddate" id="enddate" name="enddate">
        </div>
        <div>
            <label for="jobdescription">Job Description</label>
            <input type="text" placeholder="jobdescription" id="jobdescription" name="jobdescription">
        </div>
        
        <div>
            <button>Prev</button>
            <button>Next</button>
        </div>
    </form>
</body>

</html>