<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>

<body>
    <h1>Your Educational Details</h1>
    <form method="POST" action="education">
        <div>
            <label for="collegename">College/University</label>
            <input type="text" placeholder="College/University" id="collegename" name="collegename">
        </div>
        <div>
            <label for="collegestartdate">Start date</label>
            <input type="date" placeholder="Start date" id="collegestartdate" name="collegestartdate">
        </div>
        <div>
            <label for="collegeenddate">End date</label>
            <input type="date" placeholder="End date" id="collegeenddate" name="collegeenddate">
        </div>
        <div>
            <label for="collegedegree">Degree</label>
            <input type="text" placeholder="Degree" id="collegedegree" name="collegedegree">
        </div>
        <div>
            <label for="collegegpa">Gpa</label>
            <input type="number" placeholder="Gpa" id="collegegpa" name="collegegpa">
        </div>
        <div>
            <label for="collegelocation">College Location</label>
            <input type="text" placeholder="location" id="collegelocation" name="collegelocation">
        </div>
        <br><br><br><br>
        <p>10 Class</p>
        <div>
            <label for="sscschoolname">School</label>
            <input type="text" placeholder="School" id="sscschoolname" name="sscschoolname">
        </div>
        <div>
            <label for="sscboard">Type of board</label>
            <input type="text" placeholder="Board" id="sscboard" name="sscboard">
        </div>
        <div>
            <label for="ssccompletion">Year of completion</label>
            <input type="date" placeholder="Year of completion" id="ssccompletion" name="ssccompletion">
        </div>
        <div>
            <label for="sscpercentage">Percentage</label>
            <input type="number" placeholder="Percentage" id="sscpercentage" name="sscpercentage">
        </div>
        <div>
            <label for="sscschoollocation">School Location</label>
            <input type="text" placeholder="location" id="sscschoollocation" name="sscschoollocation">
        </div>

        <br><br><br>
        <p>12 Class</p>
        <div>
            <label for="hhcschoolname">School</label>
            <input type="text" placeholder="School" id="hhcschoolname" name="hhcschoolname">
        </div>
        <div>
            <label for="hscboard">Type of board</label>
            <input type="text" placeholder="Board" id="hscboard" name="hscboard">
        </div>
        <div>
            <label for="hsccompletion">Year of completion</label>
            <input type="date" placeholder="Year of completion" id="hsccompletion" name="hsccompletion">
        </div>
        <div>
            <label for="hscpercentage">Percentage</label>
            <input type="number" placeholder="Percentage" id="hscpercentage" name="hscpercentage">
        </div>
        <div>
            <label for="hscschoollocation">School Location</label>
            <input type="text" placeholder="location" id="hscschoollocation" name="hscschoollocation">
        </div>
        <div>
            <button>Prev</button>
            <button>Next</button>
        </div>
    </form>
</body>

</html>