<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Your Personal Details</h1>
    <form method="POST" action="profile">
        <div>
            <label for="firstname">First Name</label>
            <input type="text" placeholder="First name" id="firstname" name="firstname">
        </div>
        <div>
            <label for="lastname">Last Name</label>
            <input type="text" placeholder="Last name" id="lastname" name="lastname">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" name="email">
        </div>
        <div>
            <label for="pno">Phone</label>
            <input type="number" placeholder="Phone" id="pno" name="pno">
        </div>
        <div>
            <label for="website">Your Website</label>
            <input type="url" placeholder="Website" id="website" name="website">
        </div>
        <div>
            <label for="github">Github Link</label>
            <input type="url" placeholder="Github" id="github" name="github">
        </div>
        <div>
            <label for="linkedin">Linkedin Link</label>
            <input type="url" placeholder="LinkedIn" id="linkedin" name="linkedin">
        </div>
        <div>
            <label for="twitter">Twitter Link</label>
            <input type="url" placeholder="Twitter" id="twitter" name="twitter">
        </div>
        <div>
            <button>Prev</button>
            <button>Next</button>
        </div>
    </form>
</body>

</html>