<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Your Extra Details</h1>
    <form method="POST" action="skills">
        <div>
            <label for="skills1">Skill 1</label>
            <input type="text" placeholder="skill1" id="skills1" name="skills1">
        </div>
        <div>
            <label for="skills2">Skill 2</label>
            <input type="text" placeholder="skill2" id="skills2" name="skills2">
        </div>
        <div>
            <label for="skills3">Skill 3</label>
            <input type="text" placeholder="skill3" id="skills3" name="skills3">
        </div>
        <div>
            <label for="skills4">Skill 4</label>
            <input type="text" placeholder="skill4" id="skills4" name="skills4">
        </div>
        <div>
            <label for="skills5">Skill 5</label>
            <input type="text" placeholder="skill5" id="skills5" name="skills5">
        </div>
        <div>
            <label for="skills6">Skill 6</label>
            <input type="text" placeholder="skill6" id="skills6" name="skills6">
        </div>
        <div>
            <button>Prev</button>
            <button>Next</button>
        </div>
    </form>
</body>

</html>