<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    <h1>Your Work Experience</h1>
    <form method="POST" action="work">
        <label>Job Title</label>
        <input type="text" placeholder="John" name="jobtitle">
        <label>Company</label>
        <input type="text" placeholder="john@gmail.com" name="company">
        <label>Country</label>
        <input type="text" placeholder="9135344432" name="country">
        <label>State</label>
        <input type="text" placeholder="India" name="state">
        <label>City</label>
        <input type="text" placeholder="India" name="city">
        <label>Start date</label>
        <input type="text" placeholder="John" name="startdate">
        <label>end date</label>
        <input type="text" placeholder="John" name="enddate">
        <div>
            <button>Next</button>
        </div>
    </form>
</body>
</html>