*,body{
    background-color: #E23635;  
    background-color: #e84545;  
    
}
p{
    color:#eeeeee;
    font-family: 'Lato', sans-serif;
}

h2,h4{
    color:aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.image{
    max-width: 100%;
        height: auto;
    
}


.navbar-brand{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
     
}

a{
    font-weight:540;
    font-family: 'Open Sans', sans-serif;
}

 .navbar {
    padding:6px 25px;
  
}

.navbar-nav li a {
   
    text-align: center;
    margin:8px 0;
    width:100%
 }


.nav-item {
    padding:0 18px;
} 

.nav-link {
    font-family:"Montserrat-light";
    font-size:1.2rem; 
}


footer{
    text-align: center;
    margin-top:9px;
    height:5px;
}

.icon{
    height:15px;
    width:15px;
    margin:8px;
}

@media(max-width:991px)
{
   .top{
       margin-top:55px;
       margin-bottom:55px;
   }
}