*,body{
    background-color: #FF7E83;  

    
}
p{
    color:#eeeeee;
    font-family: 'Lato', sans-serif;
}

h2,h4{
    color:aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.image{
    max-width: 100%;
        height: auto;
    
}


.navbar-brand{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
     
}

a{
    font-weight:540;
    font-family: 'Open Sans', sans-serif;
}

 .navbar {
    padding:6px 25px;
}

.nav-item {
    padding:0 18px;
} 

.nav-link {
    font-family:"Montserrat-light";
    font-size:1.2rem; 
}